DATABASE_URL="postgresql://postgres:PASSWORD@db.qiypimwkjreatargipry.pooler.supabase.com:6543/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://qiypimwkjreatargipry.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
REDIS_URL="rediss://default:PASSWORD@HOST:6379"
OPENAI_API_KEY="sk-your-openai-key"
